# Python
__pycache__/
*.pyc
.venv/
.env

# Node
node_modules/
dist/

# Rust
target/

# C++
*.exe
*.o
*.obj
bin/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
# nested build outputs
**/bin/
**/*.o
**/*.obj
**/*.exe
